<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css">
    <link rel="stylesheet" href="../../stylesheets/communication.css">
    <link rel="stylesheet" href="../../javascrips/layui/css/layui.css">
    <script src="../../javascrips/jquery-1.11.2.min.js"></script>
    <script src="../../javascrips/layui/layui.js"></script>
    <style>
        .layui-form-label{width:98px;}
        .layui-input-block{margin-left: 128px;}
    </style>
</head>
<body>
<div>
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">消息群发</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="tree clearfix">
                    <div class="tree_left fl">
                        <h1>组织机构</h1>
                        <ul id="demo1"></ul>
                    </div>
                    <div class="tree_right fl">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">登录名：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">角色：</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">姓名：</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">用户类型：</label>
                                    <div class="layui-input-inline">
                                        <select name="quiz">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <button class="layui-btn layui-btn-normal">查询</button>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">标题:</label>
                                <div class="layui-input-block" style="margin-left: 128px;">
                                    <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" >
                                </div>
                            </div>

                            <div class="layui-form-item" style="display: none;" id="wechatModules">
                                <label class="layui-form-label">微信模板:</label>
                                <div class="layui-input-block" style="margin-left: 128px;">
                                    <select name="quiz">
                                        <option value="">教师会议通知</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">内容</label>
                                <div class="layui-input-block" style="margin-left: 128px;">
                                    <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor" ></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">已选用户:</label>
                                <div class="layui-input-block" style="margin-left: 128px;border:1px solid #ccc;padding:0px 10px;">
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍1" checked="">
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍2" checked="">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍3" disabled="">
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍4" checked="">
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍5" checked="">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">未选用户:</label>
                                <div class="layui-input-block" style="margin-left: 128px;border:1px solid #ccc;padding:0px 10px;">
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍6" >
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍7">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍8" >
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍9" >
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍10">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍11" >
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍12" >
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍13">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍14" >
                                    <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍15" >
                                    <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍16">
                                    <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍17" >
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">平台:</label>
                                <div class="layui-input-block">
                                    <input type="checkbox" name="message" lay-skin="primary" title="短信" >
                                    <input type="checkbox" name="excel" lay-skin="primary" title="邮件">
                                    <input type="checkbox" name="wechat" lay-skin="primary" title="微信" id="wechat" >
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-left: 128px">
                                    <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1">发送</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['tree', 'layer','form','element','layedit'], function(){
        var form = layui.form, layer = layui.layer,$ = layui.jquery,element = layui.element,layedit = layui.layedit;
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        layui.tree({
            elem: '#demo1' //指定元素
            ,target: '_blank' //是否新选项卡打开（比如节点返回href才有效）
            ,click: function(item){ //点击节点回调
                layer.msg('当前节名称：'+ item.name + '<br>全部参数：'+ JSON.stringify(item));
                console.log(item);
            }
            ,nodes: [ //节点
                {
                    name: 'AKMI服务管理'
                    ,id: 1
                    ,alias: 'changyong'
                    ,spread: true
                    ,children: [
                    {
                        name: '文学院'
                        ,id: 11
                    }, {
                        name: '历史学院'
                        ,id: 12
                    }, {
                        name: '政法学院'
                        ,id: 13
                    }, {
                        name: '教育学院'
                        ,id: 13
                    }, {
                        name: '外国语学院'
                        ,id: 13
                    },{
                        name: '管理学院'
                        ,id: 13
                    },{
                        name: '音乐学院'
                        ,id: 13
                    },{
                        name: '美术学院'
                        ,id: 13
                    },{
                        name: '数学科学学院'
                        ,id: 13
                    },{
                        name: '物理系'
                        ,id: 13
                    }
                ]
                }
            ]
        });
        $('#wechat').next().on('click',function(){
            if($(this).hasClass('layui-form-checked')){
                $('#wechatModules').show();
            }else{
                $('#wechatModules').hide();
            }
        })
    });
</script>
</body>
</html>