<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../stylesheets/reset.css">
    <link rel="stylesheet" href="../../stylesheets/communication.css">
    <link rel="stylesheet" href="../../javascrips/layui/css/layui.css">
    <script src="../../javascrips/jquery-1.11.2.min.js"></script>
    <script src="../../javascrips/layui/layui.js"></script>
    <style>
        .layui-form-label{width:98px;}
    </style>
</head>
<body>
<div>
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this" id="title">excel消息群发</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题:</label>
                        <div class="layui-input-block" style="margin-left: 128px;">
                            <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">浏览:</label>
                        <div class="layui-input-block" style="margin-left: 128px;">
                            <input type="file" name="file" id="test20" class="fl">
                            <a href="" class="default fr">下载模板</a>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block" style="margin-left: 128px;">
                            <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor" ></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">已选用户:</label>
                        <div class="layui-input-block" style="margin-left: 128px;border:1px solid #ccc;padding:0px 10px;">
                            <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍1" checked="">
                            <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍2" checked="">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍3" disabled="">
                            <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍4" checked="">
                            <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍5" checked="">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">未选用户:</label>
                        <div class="layui-input-block" style="margin-left: 128px;border:1px solid #ccc;padding:0px 10px;">
                            <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍6" >
                            <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍7">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍8" >
                            <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍9" >
                            <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍10">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍11" >
                            <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍12" >
                            <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍13">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍14" >
                            <input type="checkbox" name="like1[write]" lay-skin="primary" title="徐萍15" >
                            <input type="checkbox" name="like1[read]" lay-skin="primary" title="徐萍16">
                            <input type="checkbox" name="like1[game]" lay-skin="primary" title="徐萍17" >
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: none;" id="wechatModules">
                        <label class="layui-form-label">微信模板:</label>
                        <div class="layui-input-block" style="margin-left: 128px;">
                            <select name="quiz">
                                <option value="">教师会议通知</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">平台:</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="message" lay-skin="primary" title="短信" >
                            <input type="checkbox" name="excel" lay-skin="primary" title="邮件">
                            <input type="checkbox" name="wechat" lay-skin="primary" title="微信" id="wechat" >
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block" style="margin-left: 128px">
                            <button class="layui-btn  layui-btn-normal" lay-submit="" lay-filter="demo1">发送</button>
                            <button type="reset" class="layui-btn layui-btn-primary">返回</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../../javascrips/public.js"></script>
<script>
    layui.use([ 'upload','layer','form','element','layedit'], function(){
        var form = layui.form, layer = layui.layer,$ = layui.jquery,element = layui.element,layedit = layui.layedit,upload = layui.upload;;
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        //绑定原始文件域
        upload.render({
            elem: '#test20'
            ,url: '/upload/'
            ,done: function(res){
                console.log(res)
            }
        });
        $('#wechat').next().on('click',function(){
            if($(this).hasClass('layui-form-checked')){
                $('#wechatModules').show();
            }else{
                $('#wechatModules').hide();
            }
        })
    });
</script>
</body>
</html>